body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(0,0,0,0.03);
}

h1 {
  font-weight: bold;
  background-color: lightgray;
  margin: 0;
  text-align: center;
  color: rgba(0,0,0,0.5);
  padding: 20px 0;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
 }

li {
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  padding: 20px;
}

.todo-text {
  color: rgba(0,0,0,0.6);
}
.todo-text:hover {
  cursor: pointer;
}

.fa-plus {
  font-size: 2em;
  padding: 22.5px 25px;
  color: rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.17);
}
.fa-plus:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
}

.fa-trash-alt {
  color: rgba(255,0,0,0.4);
}

.fa-trash-alt:hover {
  cursor: pointer;
  color: rgba(255,0,0,0.7);
}

.container {
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
}

.content {
  width: 500px;
  box-shadow: 0 0 15px lightgray;
}

input {
  padding: 20px;
  width: calc(100% - 40px);
  border: none;
  font-size: 1.5em;
  color: rgba(0,0,0,0.5);
  outline: none;
  box-shadow: 0 5px 10px -3px lightgray;
}

.complete {
  text-decoration: line-through;
  font-style: italic;
  color: rgba(0,0,0,0.3);
}

.hidden {
  display: none;
}
